<h2>Membres de l'équipage</h2>
    <div data-insert-in-list-target="names">
      <section class="member-list">
        <% @argonautes.each do |argonaute| %>
          <p><%= argonaute.name %></p>
        <% end %>
      </section>
    </div>
