// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background-color: $creme;
  color: $onyx;
  height: 100vh;
  h1, h2, p{
    margin: 0;
  }
  h1, h2{
    font-family: 'GFS Neohellenic', sans-serif;
  }
  h1{
    font-size: 64px;
    text-align: center;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

main {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
  padding: 2em;
  background-color: #C6C5B9;
  color: $creme;
  margin-bottom: 2em;
}

header h1 {
  font-size: 2.5em;
}


label {
  display: block;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}

footer {
  margin-top: 2em;
  padding: 36px 72px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #C6C5B9;
  color: #FFFDF7;
}

footer img {
  width: 150px;
  padding-right: 36px;
}

.member-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.list-section{
  padding-top: 52px;
}

.card-ctr{
  display: flex;
  border-radius: 12px;
  background-color: $light-blue;
  height: 58vh;
  img{
    border-radius: 12px 0px 0px 12px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.card-content{
  padding: 18px;
}

// styling the form
#argonaute_name{
  background-color: $light-blue;
  border-bottom: 3px solid $onyx;
  border: 2px solid $light-blue;
}

.input-field {
  border-bottom: 2px solid $onyx;
}

input:focus {
  outline:none;
}

#btn-create{
  background-color: $dark-blue;
  border-radius: 6px;
  color: $creme;
  font-weight: 600;
  margin: 12px;
  padding: 6px 12px;
}

.btn-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
